In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.preprocessing import LabelEncoder

In [3]:
train = pd.read_csv('data/training_data.csv') 
test = pd.read_csv('data/testing_data.csv')
train.head()

,Unnamed: 0,ID,Salary,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,0,0,200000,Bangalore,m,1990-01-15,55.5,state board,2007.0,52.5,...,-1,-1,-1,-1,-1,NaN,-0.6201,-0.1437,0.9066,-1.6273
1,1,1,190000,Chennai,m,1990-11-02,83.0,state board,NaN,86.0,...,-1,-1,-1,313,-1,-0.1590,0.8784,0.7785,0.1459,1.2470
2,2,2,335000,Chennai & Mumbai,m,1991-07-31,81.2,cbse,2008.0,75.4,...,500,-1,-1,-1,-1,-1.0208,-1.1196,-0.6048,0.5262,0.2889
3,3,3,325000,Noida,m,1990-07-16,85.0,cbse,2008.0,68.6,...,-1,-1,-1,-1,-1,-0.9969,0.0328,-0.3440,0.7086,-1.2354
4,4,4,360000,Chennai,m,1991-07-14,89.9,state board,NaN,84.5,...,-1,-1,-1,-1,-1,1.2772,0.8784,0.4711,-0.7415,0.4805

In [4]:
(train['ComputerScience'] == -1).sum()

2330

In [5]:
(train['ElectricalEngg'] == -1).sum()

2876

In [6]:
(train['MechanicalEngg'] == -1).sum()

2821

In [7]:
(train['CivilEngg'] == -1).sum()

2967